.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #464647;
  padding: 0 20px;
  color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.links {
  display: flex;
  gap: 30px;
}

.link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;

  &:hover {
    color: #e0e0e0;
  }

  &.active {
    color: #000;
  }
}

.profile {
  display: flex;
  align-items: center;
}

.mobileTop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #464647;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.mobileLogo {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.mobileProfile {
  color: #fff;
}

.bottomMenu {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #464647;
  justify-content: space-around;
  padding: 10px 0 10px 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 1000;

}

.bottomMenu .link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #fff;
  text-decoration: none;

  svg {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
  }

  &:hover {
    color: #e0e0e0;
  }

  &.active {
    color: #000;
  }
}

@media (max-width: 768px) {
  .container {
    display: none;
  }

  .mobileTop {
    display: flex;
  }

  .bottomMenu {
    display: flex;
  }
}

@media (min-width: 769px) {
  .mobileTop {
    display: none;
  }
  .bottomMenu {
    display: none;
  }
}
