/* styles/reset.scss */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body defaults */
body {
 
  font-family: "Rubik", sans-serif;
  background-color: rgb(20, 20, 20);;
  color: #f0efef;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove quotes from blockquotes and quotes */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

/* Table defaults */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Form elements */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

/* Images */
img {
  max-width: 100%;
  display: block;
}

/* Buttons */
button {
  cursor: pointer;
  background: none;
  border: none;
}

/* Links */
a {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;

 padding: 68px 8px 0 8px ;
}